<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (c) 2015. Lorem ipsum dolor sit amet, consectetur adipiscing elit.                                      ~
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.                       ~
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.                                                  ~
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.                    ~
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.                                                                      ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="testAnnServiceImpl" class="z.z.w.test.service.impl.TestAnnServiceImpl">
    </bean>
    <bean id="dBDeleteServiceImpl" class="z.z.w.test.service.impl.DBDeleteServiceImpl">
        <property name="testAnnServiceImpl" ref="testAnnServiceImpl"/>
    </bean>
    <task:executor id="asyncExecutor" pool-size="5-10"
                   queue-capacity="128" rejection-policy="CALLER_RUNS"/>
    <task:annotation-driven executor="asyncExecutor" mode="proxy"/>

    <task:scheduler id="scheduler" pool-size="10"/>
    <task:scheduled-tasks scheduler="scheduler">
        <!--<task:scheduled ref="jTDChannelImpl" method="task" fixed-delay="3000"/>-->
        <!--<task:scheduled ref="rePushSmsStatusServer" method="task" cron="0 0/5 * * * ?"/>-->
        <task:scheduled ref="dBDeleteServiceImpl" method="task" cron="0/3 * * * * ?"/>
    </task:scheduled-tasks>

</beans>
